.akun {
  width: 67%;
  margin-top: 7rem;
}
.akun-top__alert {
  background-color: #a06ece !important;
  border-radius: 12px;
}
.akun-top__arrow-left {
  width: 25px;
  height: 20px;
}

.filter-akun {
  width: 75%;
}

.account-list:hover {
  background-color: #a06ece;
  transition: background-color 0.5s;
  color: white;
}

.account-list:hover img {
  filter: brightness(0) invert(1);
}

.account__input:focus {
  outline-style: none !important;
}

.save-btn-akun {
  background-color: #4b1979 !important;
  color: #fff !important;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 150px;
  height: 48px;
}
