.banner {
  margin-top: 120px;
}

.banner__image-side {
  /* width: 236px; */
  height: 150px;
  margin-top: 40px;
}

.banner__image-center {
  /* width: 1213px; */
  height: 232px;
  position: absolute;
  left: 8%;
  z-index: 1;
}

@media (max-width: 575px) {
  .banner__image-center {
    left: 4% !important;
    height: 22%;
  }

  .banner__image-side {
    height: 110px;
    margin-top: 19px;
  }

  .banner {
    margin-top: 100px;
  }
}
