.destinasi-fav {
  margin-top: 2rem;
  width: 66%;
}


.destinasi-fav__search-img {
  width: 20px;
  height: 20px;
}

.btn-destinasi{
  background-color: #7126b5;
  font-family: poppins;

}

.destinasi-fav__category-2:hover {
  background-color: #7126b5 !important;
  color: #e2d4f0 !important;

}

.destinasi-fav__category-2 {
  width: 128px;
  height: 48px;
  background-color: #e2d4f0 !important;
  border-radius: 12px;
  margin-left: 20px;
}

.destinasi-card__text-1 {
  font-size: 12px;
}

.destinasi-card__text-2 {
  font-size: 10px;
  color: #7126b5;
}

