.destinasi-fav {
  margin-top: 2rem;
  width: 66%;
}

.destinasi-fav__cat::-webkit-scrollbar {
  display: none !important;
}

.destinasi-fav__cat {
  z-ms-overflow-style: none !important;
  scrollbar-width: none !important;
  overflow-x: scroll;
}

.destinasi-fav__search-img {
  width: 20px;
  height: 20px;
}

.btn-destinasi {
  background-color: #7126b5;
  font-family: poppins;
}

.destinasi-fav__category-1 {
  /* width: 14%; */
  /* height: 48px; */
  border-radius: 12px;
  margin-left: 20px;
  background-color: #7126b5;
  color: white !important;
}

.destinasi-fav__category-2:hover {
  background-color: #7126b5 !important;
  color: #e2d4f0 !important;
}

.destinasi-fav__category-2 {
  /* width: 14%; */
  /* height: 48px; */
  background-color: #e2d4f0 !important;
  border-radius: 12px;
  margin-left: 20px;
}

.destinasi-card {
  width: 90%;
}

.destinasi-card__text-1 {
  font-size: 12px;
}

.destinasi-card__text-2 {
  font-size: 10px;
  color: #7126b5;
}

.col {
  padding-left: 0px !important;
}

@media screen and (max-width: 768px) {
  .col {
    width: 50% !important;
    margin-bottom: 5px !important;
  }
  .destinasi-fav__category-2 {
    width: 10% !important;
  }
  .text__card {
    width: 30% !important;
  }

  .destinasi-fav {
    width: 85%;
  }
}
@media screen and (max-width: 1200px) {
  .col {
    width: 70%;
    margin-bottom: 10px !important;
  }
}
