.teks {
  background-color: #a06ece !important;
  padding-left: 30px;
}

.beranda {
  font-size: medium;
}

.history {
  width: 67%;
  margin-top: 7rem;
}

.history h4 {
  font-size: 20px;
}

.history h5 {
  font-size: 16px;
}

.history-top__alert {
  background-color: #a06ece !important;
  border-radius: 12px;
}

.history-top__arrow-left {
  width: 25px;
  height: 20px;
}

.history-filter__btn {
  border: 2px solid #7126b5;
}

.checkout-biodata {
  width: 60%;
}

.checkout-biodata h4 {
  font-size: 20px;
}

.checkout-biodata h5 {
  font-size: 16px;
}

.checkout-biodata__checklist {
  width: 22px;
  height: 22px;
}

.checkout-biodata input {
  font-size: 16px;
  width: 95%;
}

.checkout-biodata select:focus {
  outline-style: none;
}

.checkout-biodata select {
  font-size: 16px;
  width: 95%;
}

.checkout-biodata input:focus {
  outline-style: none;
}

.checkout-biodata__img {
  width: 24px;
  height: 24px;
}

.checkout-biodata__btn-1 {
  width: 100%;
  height: 42px;
  background-color: #d0d0d0 !important;
  color: white !important;
  border-radius: 10px !important;
}

.checkout-biodata__btn-1:hover {
  background-color: #d0d0d0 !important;
}

.checkout-biodata__btn-1:focus {
  background-color: #d0d0d0 !important;
}

.bookingtext {
  color: #7126b5 !important;
}

.checkout-biodata__btn-21 {
  width: 100%;
  height: 42px;
  background-color: #7126b5 !important;
  color: white !important;
  border-radius: 12px;
}

.checkout-biodata__btn-21:hover {
  background-color: #7126b5 !important;
}

.checkout-biodata__btn-21:focus {
  background-color: #7126b5 !important;
}

.history-filter__btn:hover,
.checkout-biodata__btn-21:hover {
  background-color: #4b1979 !important;
}

.cardresult {
  border-color: #4b1979 !important;
}
.cardresult2 {
  border-color: #4b1979 !important;
}

.horizontal-divider {
  border-top: 1px solid #000000;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.empty {
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.empty span {
  color: #000000;
}

.history-empty {
  width: 347px;
  height: 48px;
  background-color: #7126b5 !important;
  color: white !important;
  border-radius: 12px;
}
